In [1]:
from functions import download_data, asset_allocation

In [2]:
USA="SPLG, ACWI, IXJ"
MX="IUITN.MX"
benchmark="^GSPC"
start_date ="2023-01-01"
end_date="2023-07-30"

In [3]:
data, data_benchmark = download_data(tickers_USA=USA, tickers_MX=MX,benchmark=benchmark, 
                                    start_date=start_date, end_date=end_date).download()

[*********************100%***********************]  3 of 3 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

In [4]:
data

                   ACWI          IXJ        SPLG    IUITN.MX
Date
2023-01-03  1635.354631  1639.856349  864.505544  300.239990
2023-01-04  1651.800131  1640.549166  868.970155  300.239990
2023-01-05  1633.141836  1622.052909  858.037065  300.239990
2023-01-06  1665.065292  1634.555507  874.374422  300.239990
2023-01-09  1651.919921  1597.053555  865.202989  305.160004
...                 ...          ...         ...         ...
2023-07-24  1669.252638  1469.295400  906.597381  381.390015
2023-07-25  1660.063028  1457.140182  901.205907  385.109985
2023-07-26  1672.188767  1462.466957  906.424804  381.779999
2023-07-27  1655.385715  1450.338510  897.419083  386.179993
2023-07-28  1671.232200  1453.062315  905.194638  386.179993

[143 rows x 4 columns]

In [5]:
data_benchmark

              Adj Close
Date
2023-01-03  3824.139893
2023-01-04  3852.969971
2023-01-05  3808.100098
2023-01-06  3895.080078
2023-01-09  3892.090088
...                 ...
2023-07-24  4554.640137
2023-07-25  4567.459961
2023-07-26  4566.750000
2023-07-27  4537.410156
2023-07-28  4582.229980

[143 rows x 1 columns]

In [6]:
AA=asset_allocation(data, data_benchmark, .05)

In [7]:
weights_summary=AA.summary(20000)

In [8]:
weights_summary

Stocks          ACWI       IXJ     SPLG  IUITN.MX
Min Var     0.109880  0.626228  0.00998  0.253913
Max Sharpe  0.041535  0.009434  0.08910  0.859931